---
import Footer from "./Footer/Footer.astro";

export interface Props {
	title: string;
	date: string;
	hero: string;
	heroAlt: string;
	youtube: string;
}

const { title, date, hero, heroAlt = "", youtube } = Astro.props;
---

<article class="max-w-5xl px-3 mx-auto">
	<header class="max-w-3xl mx-auto prose text-center pb-lg">
		<h1 class="font-display">{title}</h1>
	</header>

	<!-- Image -->
	{hero && <img class="mx-auto rounded-xl" style="min-width: 80%;" loading="lazy" src={hero} alt={heroAlt} />}

	<!-- YouTube Video -->
	{
		youtube && (
			<div class="mt-6 embed-responsive aspect-ratio-16/9 lg:mt-12">
				<iframe
					width="700"
					height="500"
					class="embed-responsive-item"
					src={`https://www.youtube.com/embed/${youtube}`}
					frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope;"
					allowfullscreen
				/>
			</div>
		)
	}

	<!-- Content -->
	<section class="py-6 mx-auto prose lg:py-lg">
		<slot />
	</section>
</article>
