---
import dayjs from "dayjs";

export interface Props {
	title: string;
	pubDate: string;
	hero: string;
	heroAlt: string;
	tags: string[];
}

const { title, pubDate, hero, heroAlt = "", tags } = Astro.props;
---

<article class="max-w-5xl mx-auto px-sm">
	<header class="max-w-3xl mx-auto prose text-center pb-lg">
		<h1 class="font-display">{title}</h1>
	</header>

	<!-- Image -->
	{hero && <img class="mx-auto rounded-xl" style="min-width: 80%;" loading="lazy" src={hero} alt={heroAlt} />}

	<!-- Content -->
	<section class="mx-auto prose py-md lg:py-lg">
		<div class="flex items-center justify-between text-sm text-gray-600 border-gray-300 py-xs border-y gap-base">
			<div>{dayjs(pubDate).format("MMM DD, YYYY")}</div>
			<div class="flex text-xs gap-sm py-sm">
				{tags.sort((a, b) => a.localeCompare(b)).map((tag) => <span class="rounded-full bg-slate-200 pt-2xs pb-xs px-sm">{tag}</span>)}
			</div>
		</div>
		<slot />
	</section>
</article>
