---
export interface Props {
	title: string;
	description: string;
}
import Logo from "@components/Logo.astro";
const { title, description } = Astro.props;
---

<header class="max-w-xl mx-auto text-center">
	<h1 class="mb-4 h-60 font-display" data-test="header-title">
		<span class="sr-only">Mirth Peddlers</span>
		<Logo />
	</h1>
</header>
