---
export interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<header class="max-w-xl mx-auto text-center">
	<h1 class="mb-4 h-60 font-display" data-test="header-title">
		<img
			src="/images/mirth-peddlers-logo@2x.png"
			alt={title}
			class="object-contain object-center w-full h-full"
		/>
	</h1>
</header>
