<div class="flex items-center justify-center mt-4">
	<a href="https://twitter.colinaut.com" class="ml-4" aria-label="Twitter" rel="me">
		<svg
			class="w-6 h-6 hover:text-highlight"
			xmlns="http://www.w3.org/2000/svg"
			version="1.1"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			xmlns:svgjs="http://svgjs.com/svgjs"
			viewBox="0 0 16 16"
			width="16"
			height="16"
		>
			<g transform="matrix(0.6666666666666666,0,0,0.6666666666666666,0,0)">
				<path
					d="M23.32,6.44c0.212-0.177,0.241-0.492,0.065-0.704c-0.068-0.082-0.161-0.14-0.265-0.166l-0.79-0.2 c-0.268-0.067-0.431-0.339-0.364-0.606C21.974,4.731,21.986,4.7,22,4.67l0.44-0.89c0.12-0.249,0.015-0.548-0.233-0.668 C22.099,3.06,21.976,3.049,21.86,3.08l-2,0.56c-0.151,0.044-0.314,0.014-0.44-0.08c-0.865-0.649-1.918-1-3-1c-2.761,0-5,2.239-5,5 l0,0v0.36c0.001,0.127-0.094,0.235-0.22,0.25C8.39,8.5,5.7,7.07,2.8,3.73c-0.128-0.142-0.325-0.2-0.51-0.15 C2.124,3.656,2.013,3.817,2,4C1.599,5.645,1.761,7.377,2.46,8.92c0.062,0.123,0.013,0.274-0.11,0.336 C2.303,9.279,2.251,9.288,2.2,9.28L1.08,9.06C0.807,9.016,0.551,9.202,0.507,9.474C0.498,9.533,0.499,9.592,0.51,9.65 c0.175,1.555,1.047,2.945,2.37,3.78c0.124,0.06,0.176,0.21,0.116,0.334c-0.025,0.051-0.065,0.092-0.116,0.116l-0.53,0.21 c-0.256,0.103-0.381,0.394-0.278,0.65c0.005,0.014,0.011,0.027,0.018,0.04c0.595,1.302,1.791,2.229,3.2,2.48 c0.13,0.047,0.197,0.191,0.15,0.32c-0.025,0.07-0.08,0.124-0.15,0.15C3.93,18.292,2.471,18.575,1,18.56 c-0.276-0.055-0.545,0.124-0.6,0.4s0.124,0.545,0.4,0.6l0,0c2.548,1.208,5.321,1.866,8.14,1.93c2.479,0.038,4.915-0.658,7-2 c3.484-2.326,5.571-6.241,5.56-10.43V8.19c0.001-0.147,0.067-0.286,0.18-0.38L23.32,6.44z"
					stroke="none"
					fill="currentColor"
					stroke-width="0"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
			</g>
		</svg>
	</a>
	<a href="https://dice.camp/@colinaut" class="ml-4" aria-label="Mastodon" rel="me noopener">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 173.1 185.6" width="16" height="16" xml:space="preserve" class="w-6 h-6 hover:text-highlight"
			><path
				fill="currentColor"
				d="M173.1 60.9c0-40.3-26.4-52.1-26.4-52.1-13.3-6-36.1-8.6-59.8-8.8h-.6C62.6.2 39.7 2.8 26.4 8.9 26.4 8.9 0 20.7 0 61c0 9.2-.2 20.2.1 31.9 1 39.4 7.2 78.2 43.6 87.8 16.8 4.4 31.2 5.4 42.8 4.7 21-1.2 32.9-7.5 32.9-7.5l-.7-15.3s-15 4.7-31.9 4.2c-16.7-.6-34.4-1.8-37.1-22.4-.2-1.8-.4-3.7-.4-5.8 0 0 16.4 4 37.3 5 12.7.6 24.7-.7 36.8-2.2 23.3-2.8 43.5-17.1 46-30.2 4.1-20.6 3.7-50.3 3.7-50.3zM142 112.8h-19.3V65.5c0-10-4.2-15-12.6-15-9.3 0-13.9 6-13.9 17.9v25.9H77v-26c0-11.9-4.7-17.9-13.9-17.9-8.4 0-12.6 5.1-12.6 15v47.3H31.1V64.1c0-10 2.5-17.9 7.6-23.7 5.3-5.9 12.1-8.9 20.7-8.9 9.9 0 17.4 3.8 22.3 11.4l4.8 8.1 4.8-8.1c4.9-7.6 12.4-11.4 22.3-11.4 8.5 0 15.4 3 20.7 8.9 5.1 5.9 7.6 13.8 7.6 23.7v48.7z"
			></path>
		</svg>
	</a>

	<a href="https://colinaut.itch.io" class="ml-4" aria-label="Itch.io" rel="me noopener">
		<svg xmlns="http://www.w3.org/2000/svg" height="235.452" width="261.728" viewBox="0 0 245.371 220.736" class="w-6 h-6 hover:text-highlight"
			><path
				fill="currentColor"
				d="M31.99 1.365C21.287 7.72.2 31.945 0 38.298v10.516C0 62.144 12.46 73.86 23.773 73.86c13.584 0 24.902-11.258 24.903-24.62 0 13.362 10.93 24.62 24.515 24.62 13.586 0 24.165-11.258 24.165-24.62 0 13.362 11.622 24.62 25.207 24.62h.246c13.586 0 25.208-11.258 25.208-24.62 0 13.362 10.58 24.62 24.164 24.62 13.585 0 24.515-11.258 24.515-24.62 0 13.362 11.32 24.62 24.903 24.62 11.313 0 23.773-11.714 23.773-25.046V38.298c-.2-6.354-21.287-30.58-31.988-36.933C180.118.197 157.056-.005 122.685 0c-34.37.003-81.228.54-90.697 1.365zm65.194 66.217a28.025 28.025 0 0 1-4.78 6.155c-5.128 5.014-12.157 8.122-19.906 8.122a28.482 28.482 0 0 1-19.948-8.126c-1.858-1.82-3.27-3.766-4.563-6.032l-.006.004c-1.292 2.27-3.092 4.215-4.954 6.037a28.5 28.5 0 0 1-19.948 8.12c-.934 0-1.906-.258-2.692-.528-1.092 11.372-1.553 22.24-1.716 30.164l-.002.045c-.02 4.024-.04 7.333-.06 11.93.21 23.86-2.363 77.334 10.52 90.473 19.964 4.655 56.7 6.775 93.555 6.788h.006c36.854-.013 73.59-2.133 93.554-6.788 12.883-13.14 10.31-66.614 10.52-90.474-.022-4.596-.04-7.905-.06-11.93l-.003-.045c-.162-7.926-.623-18.793-1.715-30.165-.786.27-1.757.528-2.692.528a28.5 28.5 0 0 1-19.948-8.12c-1.862-1.822-3.662-3.766-4.955-6.037l-.006-.004c-1.294 2.266-2.705 4.213-4.563 6.032a28.48 28.48 0 0 1-19.947 8.125c-7.748 0-14.778-3.11-19.906-8.123a28.025 28.025 0 0 1-4.78-6.155 27.99 27.99 0 0 1-4.736 6.155 28.49 28.49 0 0 1-19.95 8.124c-.27 0-.54-.012-.81-.02h-.007c-.27.008-.54.02-.813.02a28.49 28.49 0 0 1-19.95-8.123 27.992 27.992 0 0 1-4.736-6.155zm-20.486 26.49l-.002.01h.015c8.113.017 15.32 0 24.25 9.746 7.028-.737 14.372-1.105 21.722-1.094h.006c7.35-.01 14.694.357 21.723 1.094 8.93-9.747 16.137-9.73 24.25-9.746h.014l-.002-.01c3.833 0 19.166 0 29.85 30.007L210 165.244c8.504 30.624-2.723 31.373-16.727 31.4-20.768-.773-32.267-15.855-32.267-30.935-11.496 1.884-24.907 2.826-38.318 2.827h-.006c-13.412 0-26.823-.943-38.318-2.827 0 15.08-11.5 30.162-32.267 30.935-14.004-.027-25.23-.775-16.726-31.4L46.85 124.08C57.534 94.073 72.867 94.073 76.7 94.073zm45.985 23.582v.006c-.02.02-21.863 20.08-25.79 27.215l14.304-.573v12.474c0 .584 5.74.346 11.486.08h.006c5.744.266 11.485.504 11.485-.08v-12.474l14.304.573c-3.928-7.135-25.79-27.215-25.79-27.215v-.006l-.003.002z"
			></path>
		</svg>
	</a>
	<a href="mailto:info@mirthpeddlers.com" class="ml-4" aria-label="Email" rel="noopener">
		<svg
			class="w-6 h-6 hover:text-highlight"
			xmlns="http://www.w3.org/2000/svg"
			version="1.1"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			xmlns:svgjs="http://svgjs.com/svgjs"
			viewBox="0 0 16 16"
			width="16"
			height="16"
			>&gt;<g transform="matrix(0.6666666666666666,0,0,0.6666666666666666,0,0)">
				<path
					d="M 2.25,4.5h19.5c0.828,0,1.5,0.672,1.5,1.5v12c0,0.828-0.672,1.5-1.5,1.5H2.25c-0.828,0-1.5-0.672-1.5-1.5V6 C0.75,5.172,1.422,4.5,2.25,4.5z "
					stroke="currentColor"
					fill="none"
					stroke-width="1.5"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
				<path d="M 15.687,9.975L19.5,13.5 " stroke="currentColor" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
				<path d="M 8.313,9.975L4.5,13.5 " stroke="currentColor" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
				<path
					d="M 22.88,5.014l-9.513,6.56 c-0.823,0.568-1.911,0.568-2.734,0L1.12,5.014"
					stroke="currentColor"
					fill="none"
					stroke-width="1.5"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
			</g>
		</svg>
	</a>
</div>
